stages:
  - checkout

code_checkout:
  stage: checkout
  script:
    - git clone https://github.com/vintijain/project.git
    - cd project
    - ls -la

#------------------------------------------------------------------

stages:
  - build
  - test
  - package

maven_build:
  stage: build
  image: maven:3.8.1-jdk-17
  script:
    - git clone https://github.com/vintijain/project_java.git
    - cd project_java
    - mvn clean compile

maven_test:
  stage: test
  image: maven:3.8.1-jdk-17
  script:
    - cd project_java
    - mvn test

maven_package:
  stage: package
  image: maven:3.8.1-jdk-17
  script:
    - cd project_java
    - mvn package


#----------------------------------------------------------------------
stages:
  - Install
  - Test
  - Build

install_dependecies:
  stage: Insatll
  image: node:16
  script:
    - git clone https://github.com/vintijain/nodejs.git
    - cd nodejs
    - npm insall

node-test:
  stage: Test
  image: nodejs:16
  script:
    - cd nodejs
    - npm test

node-build:
  stage: Build
  image: node:16
  script:
    - cd nodejs
    - npm run build

#----------------------------------------------------------------------
#parallel execution
stages:
  - build-test

variables:
  VERSION: "1.2"
  ENVIRONMENT: "dev"

build_execution:
  stage: build-test
  image: maven:3.8.1-jdk-17
  script:
    - git clone https://github.com/vintijain/project.git
    - cd project
    - mvn clean compile
    - echo $VERSION
    - echo "Deploying to $ENVIRONMENT"
  parallel: 1
  only: 
    - main   #run only on a branch

test_execution:
  stage: build-test
  image: maven:3.8.1-jdk-17
  script:
   - cd project
   - mvn test
  parallel: 1      #run one instance of this job.” It does not mean “run this job in parallel with other jobs.”
  only:
    variables:
      $CI_ENVIRONMENT_NAME = 'dev'   #Uses GitLab’s built‑in variable 

#----------------------------------------------------------------------